#HM body {
  height: 800px;
  --point-color-blue: #4cb9e7;
  --point-color-appricot: #ffecd6;
  position: relative;
  word-break: keep-all;
}

#HM .inner {
  height: 800px;
  width: 100vh;
  margin: auto;
  left: 0;
  right: 0;
}

#HM .feature {
  text-align: center;
  font-weight: 700;
  color: #3559e0;
  margin-bottom: -10px;
  margin-top: 50px;
}

#HM .title_f1 {
  font-size: 36px;
  text-align: center;
}

#HM .description_f1 {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 200;
  font-size: 15px;
  margin-top: -10px;
  text-align: center;
}

#HM img {
  width: 150px;
  height: 80px;
}

#HM .benefit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#HM .benefit .title {
  margin-top: 50px;
  color: #3559e0;
  /* text-shadow: 3px 4px 5px rgba(0,0,0,.2); */
  font-weight: 600;
  font-size: 30px;
}

#HM .benefit_block {
  display: flex;
  justify-content: center;
}

#HM .employer {
  background-color: rgba(255, 236, 214, 0.5);
  /* background-color: rgba(76, 185, 231,.2); */
  border-radius: 20px;
  margin: 0 5px;
  position: relative;
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-align: center;
  width: 150px;
}

#HM .employer h1 {
  font-size: 22px;
}

#HM .employer p {
  font-size: 15px;
  font-weight: 200;
  margin-top: -3px;
  color: rgba(0, 0, 0, 0.5);
}

#HM .employer button {
  display: block;
  width: 150px;
  height: 36px;
  box-sizing: border-box;
  line-height: 36px;
  margin: 10px auto;
  border-radius: 20px;
  border: solid 1px #dfe7f2;
  line-height: 34.5px;
  font-size: 13px;
  font-family: "HGSoftGGothicssi60g";
  text-align: center;
  background-color: white;
}
