#kimdevv #feature2 {
    width: 100vh;
    height: 800px;

    margin: auto;

    font-family: 'NanumGothic';
    transform: rotate(0.04deg);

    display: flex;
    flex-direction: column;
    align-items: center;
}

#kimdevv #para1 {
    color: #3559E0;
    font-weight: 700;
    margin-bottom: -10px;
    margin-top: 50px;;
}

#kimdevv #para2 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

#kimdevv #para3 {
    color: rgba(0,0,0,.5);
    font-size: 15px;
}

#kimdevv #detailDiv {
    width: 100vh;
    display: flex;
    justify-content: space-between;
}

#kimdevv img{
    width: 50px;
    height: 50px;
}

#kimdevv .minibox {
}

#kimdevv .miniSpan11 {
    font-size: 20px;
    font-weight: bold;
}
#kimdevv .miniSpan12 {
    font-size: 20px;
    font-weight: bold;
    color: #3559E0;
}
#kimdevv .miniSpan2 {

}


#kimdevv #innerDiv {
    background-color: #fffbf7;
    min-width: 1000px;
    height: 560px;
    border-radius: 160px;

    display: flex;
    justify-content: space-between;
}
#kimdevv #TitlePara {
    margin-top: 230px;
    margin-left: 60px;
    color:#0F2167;
    font-size: 32px;
    font-weight: bold;
}
#kimdevv #InnerPara {
    margin-left: 60px;
    font-size: 18px;
    font-weight: bold;
    color:gray;
    margin-top: -20px;
}

#kimdevv #moneyImg {
    padding: 20px;
    border-top-right-radius: 160px;
    border-bottom-right-radius: 160px;
}