#kimdevv{
    word-break: keep-all;
}

#kimdevv #feature2 {
    width: 100vh;
    height: 700px;

    margin: auto;

    font-family: 'NanumGothic';
    transform: rotate(0.04deg);

    display: flex;
    flex-direction: column;
    align-items: center;
}

#kimdevv #para1 {
    color: #3559E0;
    font-weight: 700;
    margin-bottom: -10px;
    margin-top: 50px;;
}

#kimdevv #para2 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

#kimdevv #para3 {
    margin-top: -10px;
    margin-bottom: 70px;
    color: rgba(0,0,0,.5);
    font-size: 15px;
}

#kimdevv #detailDiv {
    width: 100vh;
    display: flex;
    justify-content: space-between;
}

#kimdevv img{
    width: 50px;
    height: 50px;
}

#kimdevv .minibox {
    padding: 20px;
    width: 440.55px;
    height: 256.5px;
    background-color: rgba(255, 236, 214,.5);
    border-radius: 20px;
    margin:0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#kimdevv .miniSpan11 {
    margin-top: 10px;
    padding-top: 20px;
    font-size: 22px;
    font-weight: bold;
}
#kimdevv .miniSpan12 {
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    color: rgba(53, 89, 244, 0.85);
}
#kimdevv .miniSpan2 {
    font-size: 15px;
    font-weight: 200;
    margin-top: -3px;
    color: #00000080;
}