#ejbranch body{
  height: 800px;
  --point-color-blue: #4cb9e7;
  --point-color-appricot: #c28137;
  position: relative;
  word-break: keep-all;
}

#ejbranch .inner{
  height: 800px;
  width: 100vh;
  margin: auto;
  left: 0;
  right: 0;
}

#ejbranch .feature{
  text-align: center;
  font-weight: 700;
  color: #3559e0;
  margin-bottom: -10px;
  margin-top: 50px;
}

#ejbranch .title_f4{
  font-size: 36px;
  text-align: center;

}

#ejbranch .description_f4{
  color: rgba(0,0,0,0.5);
  font-weight: 200;
  font-size: 15px;
  margin-top: -10px;
  text-align: center;
}

#ejbranch .benefit .title{
  margin-top: 50px;
  color: #3559e0;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
}
#ejbranch .benefit_block{

}
#ejbranch .badge{
  display: block;
  text-align: center;
  

}

#ejbranch .badge1{
  width: 190px;
  height: 170px;
}

#ejbranch  .title{
  text-align: center;
  padding: 10px;
  color: #3559e0;
}

#ejbranch .benefit{
  text-align: center;
  background-color: #fff0df;
  border-radius: 20px;
  width: 900px;
  height: 380px;
}